@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme inline {
  --color-background: 0 0% 100%;
  --color-foreground: 222.2 84% 4.9%;
  --color-primary: 221.2 83.2% 53.3%;
  --color-danger: 14.1 85.5% 53.9%;
  --radius: 0.5rem;
}

.dark {
  --color-background: 222.2 84% 4.9%;
  --color-foreground: 210 40% 98%;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
